html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('../public/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-medium';
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-thin';
  src: url('../public/fonts/Roboto-Thin.ttf') format('truetype');
}